* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--c-bg);
  color: var(--c-text);
  font-family: var(--font-family);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button {
  font-family: inherit;
}
